.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 6px;
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  margin: 16px 8px;
  padding: 16px;
  background-color: white;
}

.container.form {
  display: flex;
  align-items: baseline;

  @media (max-width: 650px) {
    flex-direction: column;
  }

  .form-group {
    padding: 0 24px 0 24px;
    display: flex;
    flex-direction: column;

    &.submit {
      flex: 2;
      align-items: flex-start;
    }
    &.inputs {
      flex: 2;
    }
    &.checkboxes {
      flex: 1;
    }
  }
}
a {
  font-size: 0.75em;
}
header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
h1, h2, h3, h4 {
  color: crimson;
}
form {
  h2, h4, h4 {
    color: darkblue;
  }
}
label {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
}
input[type=text], select {
  height: 1.5rem;
}
button {
  height: 2rem;
  width: 6rem;
  border-radius: 8px;
  color: rgb(30, 220, 20);
  background-color: white;
  border: 2px solid rgb(30, 220, 20);
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    color: crimson;
    background-color: white;
    border: 2px solid crimson;
    cursor: not-allowed;
  }
}
.errors {
  margin: 8px;
  font-size: 0.7em;
  color: red;

  div {
    display: block;
    margin-top: 4px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 32px;
  }
  
  .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  }
  
  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CCCCCC;
  -webkit-transition: .3s;
  transition: .3s;
  }
  
  .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 3px;
  background-color: #FFFFFF;
  -webkit-transition: .3s;
  transition: .3s;
  }
  
  input:checked + .slider {
  background-color: #368BD6;
  }
  
  input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  }
  
  .slider {
  border-radius: 32px;
  }
  
  .slider:before {
  border-radius: 50%;
  }